body {
    background-color:#FFBDDB;
    text-align: center;
}

nav {
    text-align: justify;
}
.cabecalho {
    align-items: center;
}
.cabecalho_menu {
    display: flex;
    color: #CF3188;
    font-size: 20px;
    align-items: center;
}

.cabecalho_menu_navegacao {
    display: flex;
    align-items: flex-start;
}

.cabecalho_menu_navegacao_lista {
    display: flex;
    color: #831d55;
    gap: 45px;
}
.conteudo-pricipal-imagem {
    width: 100px;
    height: 100px;
}
.rodape_imagem {
    text-align: center;
    width: 350px;
    height: 100%;
}