@font-face {
    font-family: 'Funkids';
    src: url('./fonte/funkids\ \(1\)/Funkids.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Funkids', sans-serif;
}

.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.container-fluid{
    background-color: #fffdcc;
}

.navbar-brand {
    /*font-family: ;*/
  font-weight: 700;
  color: #cf3188;
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: #cf3188; 
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #cf3188;
}

.btn-outline {
  color: #cf3188;
  border-color: #cf3188;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #cf3188;
  color: white;
  border-color: #cf3188;
}

.form-control {
  padding: 0.5rem 1rem;
  border-color: #cf3188;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 49, 136, 0.25);
  border-color: #cf3188;
}

.card-header {
  background-color: #ffbddb;
  color: #cf3188;
  font-weight: 500;
}

.botao_rosa_bebe {
  background-color: #ffbddb;
  color: #cf3188;
  font-weight: 500;
}

.rodape {
  background-color: #fffdcc;
  color: black;
}

.rosa-bebe {
  background-color: #ffbddb;
  color:black;
  font-weight: 600;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}

